#忽略日志文件
\logs\*.log

static/images/*
requirement.txt
apps/*/migrations
#Machine/settings.py
logs/*.log
*.xml
.idea
#apps/*/models*
/uwsgi
#uwsgi.ini
#Dockerfile
#docker-compose.yml
*.pyc
#start.sh
#script
#extra/db/models_tqmain.py
#extra/db/models_tqfactor.py
#extra/db/models_tqsignal.py

